---
title: Waffle chart
description: |
  Display values as a percentage of a whole in an aesthetically pleasing way. A nicer alternative to pie charts.
order: 12
showcase: 0
component: chart.waffle
examples:
  - title: "Basic waffle chart"
    description: |
      This is a basic waffle chart showing the percentage of people aged 75 and over who have had the 2023 Spring Booster of the COVID-19 vaccination in England (data from <a href="https://coronavirus.data.gov.uk/">UK Health Security Agency</a>). In this example the `series→value` is already given as a percentage.
    config:
      data:
        - Total vaccinated aged 75+: 3725152
          Percentage of people aged 75+: 67.9
      series:
        - value: "Percentage of people aged 75+"
          colour: "#019c91"
  - title: "Set padding"
    description: |
      We can set the `padding` between cells of the waffle.
    config:
      data:
        - Total vaccinated aged 75+: 3725152
          Percentage of people aged 75+: 67.9
      series:
        - value: "Percentage of people aged 75+"
          colour: "#019c91"
      padding: 16
  - title: "Set width/height"
    description: |
      By default the waffle chart is 1080px across but we can set the `width` and/or `height` of the waffle to other values if we wish.
    config:
      data:
        - Total vaccinated aged 75+: 3725152
          Percentage of people aged 75+: 67.9
      series:
        - value: "Percentage of people aged 75+"
          colour: "#019c91"
      width: 300
  - title: "Set waffle grid size"
    description: |
      We can set the `size`, in grid cells, of the waffle grid.
    config:
      data:
        - Total vaccinated aged 75+: 3725152
          Percentage of people aged 75+: 67.9
      series:
        - value: "Percentage of people aged 75+"
          colour: "#019c91"
      size: 5
      width: 300
  - title: "Set waffle grid size in both dimensions"
    description: |
      We can set the `size`, in grid cells, of the waffle grid horizontally and vertically.
    config:
      data:
        - Total vaccinated aged 75+: 3725152
          Percentage of people aged 75+: 67.9
      series:
        - value: "Percentage of people aged 75+"
          colour: "#019c91"
      size: [20,5]
      width: 300
  - title: "Set the rounding type"
    description: |
      By default the values are rounded using `Math.round()` but we can choose to use `Math.floor()` by setting `rounding` to `floor` (you could also use `ceil`). In this example it will mean 67 waffle cells are coloured in rather than 68.
    config:
      data:
        - Total vaccinated aged 75+: 3725152
          Percentage of people aged 75+: 67.9
      series:
        - value: "Percentage of people aged 75+"
          colour: "#019c91"
      width: 300
      rounding: floor
  - title: "Set direction"
    description: |
      By default, the `direction` is set to `l2r` which means that values fill in from the left. If we set `direction` to `r2l` it will fill values from the right.
    config:
      data:
        - Total vaccinated aged 75+: 3725152
          Percentage of people aged 75+: 67.9
      series:
        - value: "Percentage of people aged 75+"
          colour: "#019c91"
      direction: rtl
      width: 300
  - title: "Set gravity direction"
    description: |
      By default, the `gravity` is set to `bottom` which means that values start at the bottom and build upwards. We can also set `gravity` to `top`, `left` or `right`.
    config:
      data:
        - Total vaccinated aged 75+: 3725152
          Percentage of people aged 75+: 67.9
      series:
        - value: "Percentage of people aged 75+"
          colour: "#019c91"
      gravity: top
      width: 300
  - title: "Add tooltips"
    description: |
      In this example we will build a custom `tooltip` to the `series` created using <a href="/documentation/virtual-columns/">virtual columns</a>.
    config:
      data:
        - Total vaccinated aged 75+: 3725152
          Percentage of people aged 75+: 67.9
      columns:
        - name: Tooltip
          template: "Aged 75+\nPeople: {{ Total vaccinated aged 75+ | toLocaleString() }} ({{ Percentage of people aged 75+ }}%)"
      series:
        - value: "Percentage of people aged 75+"
          colour: "#019c91"
          tooltip: Tooltip
      width: 300
  - title: "Add legend"
    description: |
      In this example we will add a `legend` to `position→top`.
    config:
      data:
        - Total vaccinated aged 75+: 3725152
          Percentage of people aged 75+: 67.9
      columns:
        - name: Tooltip
          template: "Aged 75+\nPeople: {{ Total vaccinated aged 75+ | toLocaleString() }} ({{ Percentage of people aged 75+ }}%)"
      series:
        - title: "Aged 75+ vaccinated"
          value: "Percentage of people aged 75+"
          colour: "#019c91"
          tooltip: Tooltip
      width: 300
      legend:
        show: true
        position: top
  - title: "Show multiple series"
    description: |
      In this example we show the gender breakdown of <a href="https://strudel.org.uk/panelshows/shows/taskmaster.html">appearances on Channel 4's Taskmaster</a> as of the end of series 15. We will create a `tooltip` for each `series` as virtual columns. In this example the data consists of appearances rather than percentages so we define a `total` key (to the column `Total`) in order to scale the values into percentages.
    config:
      data:
        - Female: 283
          Male: 675
          Other/diverse: 10
          Total: 968
      total: Total
      columns:
        - name: "F tooltip"
          template: "Appearances: female\n{{ Female | toLocaleString() }} ({{ Female | multiply(100 / Total) | toFixed(1) }}%)"
        - name: "M tooltip"
          template: "Appearances: male\n{{ Male | toLocaleString() }} ({{ Male | multiply(100 / Total) | toFixed(1) }}%)"
        - name: "O tooltip"
          template: "Appearances: diverse/non-binary genders\n{{ Other/diverse | toLocaleString() }} ({{ Other/diverse | multiply(100 / Total) | toFixed(1) }}%)"
      series:
        - value: "Female"
          colour: "#722EA5"
          tooltip: "F tooltip"
        - value: "Male"
          colour: "#0dbc37"
          tooltip: "M tooltip"
        - value: "Other/diverse"
          colour: "#fac900"
          tooltip: "O tooltip"
      size: [20,5]
      legend:
        show: true
        position: top
---
