---
layout: layout/base.njk
title: Documentation
---

<h1>{{ title }}</h1>

<p>This is where we will build up documentation for creating visualisations using the OI Lume Viz package.</p>

<ul>
	<li><a href="colours/">Colours</a></li>
	<li><a href="templates/">String templates</a></li>
</ul>
