<nav>
  <ul>
    <li><a href="/" {% if url | match("^/$") %} class="b6-bg"{% endif %}>Home</a></li>
    <li><a href="/samples/" {% if url | match("^/samples/") %} class="b6-bg"{% endif %}>Samples</a></li>
    <li><a href="/colours/" {% if url | match("^/colours/") %} class="b6-bg"{% endif %}>Colours</a></li>
  </ul>
</nav>
