---
title: SVG map
component: map.svg
examples:
  - title: A basic map
    description: |
      The polygons are defined by the <code>geojson&rarr;data</code> key which loads a GeoJSON file (you may want to put your GeoJSON through our <a href="https://open-innovations.github.io/geojson-minify/">GeoJSON Minify tool</a> first).
      
      The <code>geojson&rarr;key</code> attribute is used to match a property in <code>geojson&rarr;data&rarr;features[]&rarr;properties</code> with the <code>key</code> attribute in the <code>data</code> rows e.g. we try to match the <code>code</code> attribute in the data (say "E08000016") with the <code>LAD21CD</code> key in the GeoJSON. The <code>value</code> key is the name of a column in the <code>data</code> that defines the colour to use for the polygon. A <code>tooltip</code> can also be specified as the name of a column in the <code>data</code>.
    config:
      data:
        - { code: "E08000016", name: "Barnsley" }
        - { code: "E08000032", name: "Bradford" }
        - { code: "E08000033", name: "Calderdale" }
        - { code: "E07000163", name: "Craven" }
        - { code: "E07000165", name: "Harrogate" }
        - { code: "E08000034", name: "Kirklees" }
        - { code: "E08000035", name: "Leeds" }
        - { code: "E07000169", name: "Selby" }
        - { code: "E08000036", name: "Wakefield" }
        - { code: "E06000014", name: "York" }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      key: code
      tooltip: name
  - title: Colour a map - defined colours
    description: |
      This example is mostly the same as the previous one but we've added a <code>colour</code> attribute to each item in <code>data</code> and we set <code>value</code> to that name so that each area gets a specific colour.
    config:
      data:
        - { code: "E08000016", name: "Barnsley", colour: "#E6007C" }
        - { code: "E08000032", name: "Bradford", colour: "#FF6700" }
        - { code: "E08000033", name: "Calderdale", colour: "#0DBC37" }
        - { code: "E07000163", name: "Craven", colour: "#178CFF" }
        - { code: "E07000165", name: "Harrogate", colour: "#2f529f" }
        - { code: "E08000034", name: "Kirklees", colour: "#722EA5" }
        - { code: "E08000035", name: "Leeds", colour: "#F9BC26" }
        - { code: "E07000169", name: "Selby", colour: "#1DD3A7" }
        - { code: "E08000036", name: "Wakefield", colour: "#EF3AAB" }
        - { code: "E06000014", name: "York", colour: "#F92626" }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      key: code
      tooltip: name
      value: colour
  - title: Colour a map - using a defined scale
    description: |
      In this example we'll use a numeric column (<code>Aged 15 years and under</code>) in the data to set the <code>value</code> to use along with <code>scale</code> to colour each area. We will create a virtual column in the data named <code>Tooltip label</code> built using a <code>template</code> and use this to define the tooltip.
    config:
      data:
        - { LAD21CD: "E08000016", "LAD21NM":"Barnsley", colour: "#E6007C","Aged 15 years and under":44782,"Aged 16 to 24 years":22101,"Aged 25 to 34 years":32949,"Aged 35 to 49 years":44857,"Aged 50 to 64 years":52285,"Aged 65 years and over":47598 }
        - { LAD21CD: "E08000032", "LAD21NM":"Bradford", colour: "#FF6700","Aged 15 years and under":124837,"Aged 16 to 24 years":63079,"Aged 25 to 34 years":72559,"Aged 35 to 49 years":107702,"Aged 50 to 64 years":95233,"Aged 65 years and over":83001 }
        - { LAD21CD: "E08000033", "LAD21NM":"Calderdale", colour: "#0DBC37","Aged 15 years and under":39997,"Aged 16 to 24 years":19163,"Aged 25 to 34 years":24920,"Aged 35 to 49 years":39472,"Aged 50 to 64 years":43769,"Aged 65 years and over":39310 }
        - { LAD21CD: "E07000163", "LAD21NM":"Craven", colour: "#178CFF","Aged 15 years and under":8643,"Aged 16 to 24 years":4324,"Aged 25 to 34 years":5353,"Aged 35 to 49 years":9303,"Aged 50 to 64 years":13675,"Aged 65 years and over":15629 }
        - { LAD21CD: "E07000165", "LAD21NM":"Harrogate", colour: "#2f529f","Aged 15 years and under":27362,"Aged 16 to 24 years":14198,"Aged 25 to 34 years":16587,"Aged 35 to 49 years":29713,"Aged 50 to 64 years":36781,"Aged 65 years and over":38026 }
        - { LAD21CD: "E08000034", "LAD21NM":"Kirklees", colour: "#722EA5","Aged 15 years and under":86941,"Aged 16 to 24 years":47172,"Aged 25 to 34 years":54869,"Aged 35 to 49 years":83410,"Aged 50 to 64 years":84011,"Aged 65 years and over":76813 }
        - { LAD21CD: "E08000035", "LAD21NM":"Leeds", colour: "#F9BC26","Aged 15 years and under":153483,"Aged 16 to 24 years":113371,"Aged 25 to 34 years":121267,"Aged 35 to 49 years":157374,"Aged 50 to 64 years":139693,"Aged 65 years and over":126766 }
        - { LAD21CD: "E07000169", "LAD21NM":"Selby", colour: "#1DD3A7","Aged 15 years and under":16556,"Aged 16 to 24 years":7619,"Aged 25 to 34 years":11398,"Aged 35 to 49 years":17234,"Aged 50 to 64 years":20409,"Aged 65 years and over":18772 }
        - { LAD21CD: "E08000036", "LAD21NM":"Wakefield", colour: "#EF3AAB","Aged 15 years and under":65832,"Aged 16 to 24 years":31934,"Aged 25 to 34 years":48974,"Aged 35 to 49 years":67141,"Aged 50 to 64 years":72877,"Aged 65 years and over":66607 }
        - { LAD21CD: "E06000014", "LAD21NM":"York", colour: "#F92626","Aged 15 years and under":30738,"Aged 16 to 24 years":33671,"Aged 25 to 34 years":25845,"Aged 35 to 49 years":36356,"Aged 50 to 64 years":37478,"Aged 65 years and over":38733 }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      columns:
        - name: Tooltip label
          template: "{{ LAD21NM }}: {{ Aged 15 years and under | toLocaleString() }} people aged 15 and under"
      key: LAD21CD
      tooltip: Tooltip label
      value: Aged 15 years and under
      scale: Viridis
  - title: Add place labels
    description: |
      We can add <code>places</code> to the map. A place can be defined with the following properties:
        * <code>name</code> - the label to use for the place marker
        * <code>latitude</code> - set the latitude of the marker (can be omitted if it is a UK place we know about)
        * <code>longitude</code> - set the longitude of the marker (can be omitted if it is a UK place we know about)
        * <code>text-anchor</code> - set to either <code>start</code>, <code>middle</code>, or <code>end</code> to anchor the text
        * <code>font-size</code> - manually set the font size (if omitted it will be scaled to the population where known)
    config:
      data:
        - { code: "E08000016", name: "Barnsley", colour: "#E6007C" }
        - { code: "E08000032", name: "Bradford", colour: "#FF6700" }
        - { code: "E08000033", name: "Calderdale", colour: "#0DBC37" }
        - { code: "E07000163", name: "Craven", colour: "#178CFF" }
        - { code: "E07000165", name: "Harrogate", colour: "#2f529f" }
        - { code: "E08000034", name: "Kirklees", colour: "#722EA5" }
        - { code: "E08000035", name: "Leeds", colour: "#F9BC26" }
        - { code: "E07000169", name: "Selby", colour: "#1DD3A7" }
        - { code: "E08000036", name: "Wakefield", colour: "#EF3AAB" }
        - { code: "E06000014", name: "York", colour: "#F92626" }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      key: code
      tooltip: name
      value: colour
      places:
          - name: Bradford
            text-anchor: end
          - name: Leeds
            font-size: 20
          - name: Halifax
          - name: Harrogate
          - name: Huddersfield
          - name: Settle
            latitude: 54.0693
            longitude: -2.2790
          - name: Skipton
            latitude: 53.9619
            longitude: -2.0174
          - name: Wakefield
            text-anchor: start
            latitude: 53.68331
            longitude: -1.49768
          - name: York
---


{#
Other options include...
options:
  scale: "hsl(87, 57%, 86%) 0%, hsl(191, 57%, 15%) 100%"
  min: 0
  max: 5000000
  columns:
    - name: Label
      template: '{{ Region name }}<br />2020: {{ 2020 | toLocaleString() }} jobs'
  places:
    - name: London
      text-anchor: start
      longitude: 0.8
      latitude: 51.4
    - name: Liverpool
      text-anchor: "end"
    - name: Swansea
      text-anchor: "end"
      latitude: 51.4
    - name: Edinburgh
      text-anchor: start
  legend:
    position: top right
    items:
      - value: 5000000
        label: 5 million
      - value: 4000000
        label: 4 million
      - value: 3000000
        label: 3 million
      - value: 2000000
        label: 2 million
      - value: 1000000
        label: 1 million
      - value: 0
        label: '0'
#}