---
title: SVG map
description: |
  A simple map to show GeoJSON. It can have place labels and markers.
order: 30
showcase: 2
component: map.svg
examples:
  - title: A basic map
    description: |
      The polygons are defined by the `geojson→data` key which loads a GeoJSON file (you may want to put your GeoJSON through our <a href="https://open-innovations.github.io/geojson-minify/">GeoJSON Minify tool</a> first).
      
      The `geojson→key` attribute is used to match a property in `geojson→data→features[]→properties` with the `key` attribute in the `data` rows e.g. we try to match the `code` attribute in the data (say "E08000016") with the `LAD21CD` key in the GeoJSON. The `value` key is the name of a column in the `data` that defines the colour to use for the polygon. A `tooltip` can also be specified as the name of a column in the `data`.
    config:
      data:
        - { code: "E08000016", name: "Barnsley" }
        - { code: "E08000032", name: "Bradford" }
        - { code: "E08000033", name: "Calderdale" }
        - { code: "E07000163", name: "Craven" }
        - { code: "E07000165", name: "Harrogate" }
        - { code: "E08000034", name: "Kirklees" }
        - { code: "E08000035", name: "Leeds" }
        - { code: "E07000169", name: "Selby" }
        - { code: "E08000036", name: "Wakefield" }
        - { code: "E06000014", name: "York" }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      key: code
      tooltip: name

  - title: Colour a map - defined colours
    description: |
      This example is mostly the same as the previous one but we've added a `colour` attribute to each item in `data` and we set `value` to that name so that each area gets a specific colour.
    config:
      data:
        - { code: "E08000016", name: "Barnsley", colour: "#E6007C" }
        - { code: "E08000032", name: "Bradford", colour: "#FF6700" }
        - { code: "E08000033", name: "Calderdale", colour: "#0DBC37" }
        - { code: "E07000163", name: "Craven", colour: "#178CFF" }
        - { code: "E07000165", name: "Harrogate", colour: "#2f529f" }
        - { code: "E08000034", name: "Kirklees", colour: "#722EA5" }
        - { code: "E08000035", name: "Leeds", colour: "#F9BC26" }
        - { code: "E07000169", name: "Selby", colour: "#1DD3A7" }
        - { code: "E08000036", name: "Wakefield", colour: "#EF3AAB" }
        - { code: "E06000014", name: "York", colour: "#F92626" }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      key: code
      tooltip: name
      value: colour

  - title: Colour a map - using a defined scale
    description: |
      In this example we'll use a numeric column (`Aged 15 years and under`) in the data to set the `value` to use along with `scale` to colour each area. The `scale` can be given as a known string (e.g. "Viridis") or a CSS-style gradient (e.g. "#ffe837 0%, #7d7d77 50%, #042450 100%"). The `min` and `max` for the `scale` will be calculated from the data unless provided.
    config:
      data:
        - { LAD21CD: "E08000016", "LAD21NM":"Barnsley", colour: "#E6007C","Aged 15 years and under":44782 }
        - { LAD21CD: "E08000032", "LAD21NM":"Bradford", colour: "#FF6700","Aged 15 years and under":124837 }
        - { LAD21CD: "E08000033", "LAD21NM":"Calderdale", colour: "#0DBC37","Aged 15 years and under":39997 }
        - { LAD21CD: "E07000163", "LAD21NM":"Craven", colour: "#178CFF","Aged 15 years and under":8643 }
        - { LAD21CD: "E07000165", "LAD21NM":"Harrogate", colour: "#2f529f","Aged 15 years and under":27362 }
        - { LAD21CD: "E08000034", "LAD21NM":"Kirklees", colour: "#722EA5","Aged 15 years and under":86941 }
        - { LAD21CD: "E08000035", "LAD21NM":"Leeds", colour: "#F9BC26","Aged 15 years and under":153483 }
        - { LAD21CD: "E07000169", "LAD21NM":"Selby", colour: "#1DD3A7","Aged 15 years and under":16556 }
        - { LAD21CD: "E08000036", "LAD21NM":"Wakefield", colour: "#EF3AAB","Aged 15 years and under":65832 }
        - { LAD21CD: "E06000014", "LAD21NM":"York", colour: "#F92626","Aged 15 years and under":30738 }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      key: LAD21CD
      value: Aged 15 years and under
      scale: Viridis
      tooltip: LAD21NM

  - title: Add a legend
    description: |
      Sometimes you need a `legend` with defined levels. To make this we first manually set `min` and `max` (otherwise they are calculated from the data and won't necessarily match our levels). We `position` (e.g. "top right") and add `items` to the legend. Each item has a `value` and `label`.
    config:
      data:
        - { LAD21CD: "E08000016", "LAD21NM":"Barnsley", colour: "#E6007C","Aged 15 years and under":44782,"Aged 16 to 24 years":22101,"Aged 25 to 34 years":32949,"Aged 35 to 49 years":44857,"Aged 50 to 64 years":52285,"Aged 65 years and over":47598 }
        - { LAD21CD: "E08000032", "LAD21NM":"Bradford", colour: "#FF6700","Aged 15 years and under":124837,"Aged 16 to 24 years":63079,"Aged 25 to 34 years":72559,"Aged 35 to 49 years":107702,"Aged 50 to 64 years":95233,"Aged 65 years and over":83001 }
        - { LAD21CD: "E08000033", "LAD21NM":"Calderdale", colour: "#0DBC37","Aged 15 years and under":39997,"Aged 16 to 24 years":19163,"Aged 25 to 34 years":24920,"Aged 35 to 49 years":39472,"Aged 50 to 64 years":43769,"Aged 65 years and over":39310 }
        - { LAD21CD: "E07000163", "LAD21NM":"Craven", colour: "#178CFF","Aged 15 years and under":8643,"Aged 16 to 24 years":4324,"Aged 25 to 34 years":5353,"Aged 35 to 49 years":9303,"Aged 50 to 64 years":13675,"Aged 65 years and over":15629 }
        - { LAD21CD: "E07000165", "LAD21NM":"Harrogate", colour: "#2f529f","Aged 15 years and under":27362,"Aged 16 to 24 years":14198,"Aged 25 to 34 years":16587,"Aged 35 to 49 years":29713,"Aged 50 to 64 years":36781,"Aged 65 years and over":38026 }
        - { LAD21CD: "E08000034", "LAD21NM":"Kirklees", colour: "#722EA5","Aged 15 years and under":86941,"Aged 16 to 24 years":47172,"Aged 25 to 34 years":54869,"Aged 35 to 49 years":83410,"Aged 50 to 64 years":84011,"Aged 65 years and over":76813 }
        - { LAD21CD: "E08000035", "LAD21NM":"Leeds", colour: "#F9BC26","Aged 15 years and under":153483,"Aged 16 to 24 years":113371,"Aged 25 to 34 years":121267,"Aged 35 to 49 years":157374,"Aged 50 to 64 years":139693,"Aged 65 years and over":126766 }
        - { LAD21CD: "E07000169", "LAD21NM":"Selby", colour: "#1DD3A7","Aged 15 years and under":16556,"Aged 16 to 24 years":7619,"Aged 25 to 34 years":11398,"Aged 35 to 49 years":17234,"Aged 50 to 64 years":20409,"Aged 65 years and over":18772 }
        - { LAD21CD: "E08000036", "LAD21NM":"Wakefield", colour: "#EF3AAB","Aged 15 years and under":65832,"Aged 16 to 24 years":31934,"Aged 25 to 34 years":48974,"Aged 35 to 49 years":67141,"Aged 50 to 64 years":72877,"Aged 65 years and over":66607 }
        - { LAD21CD: "E06000014", "LAD21NM":"York", colour: "#F92626","Aged 15 years and under":30738,"Aged 16 to 24 years":33671,"Aged 25 to 34 years":25845,"Aged 35 to 49 years":36356,"Aged 50 to 64 years":37478,"Aged 65 years and over":38733 }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      key: LAD21CD
      tooltip: LAD21NM
      value: Aged 15 years and under
      scale: Viridis
      min: 0
      max: 160000
      legend:
          position: top right
          items:
            - value: 160000
              label: 160k
            - value: 120000
              label: 120k
            - value: 80000
              label: 80k
            - value: 40000
              label: 40k
            - value: 0
              label: '0'

  - title: Custom tooltips
    description: |
      We will create a virtual column with the `name` "Tooltip label" to define the `tooltip` text. Virtual columns must have a `name` and `template` which can include existing columns from the data e.g. "{{ LAD21NM }}: {{ Aged 15 years and under }}" would use the `LAD21CD` and `Aged 15 years and under` values from the data. Replacement values (e.g. "{{ Aged 15 years and under }}") can use the following filters:
        - `toFixed(n)` - to limit a value to `n` decimal places
        - `multiply(n)` - to multiply a value by `n`
        - `toLocaleString()` - to use the locale's (of the server) preferred formatting for a value
        - `colourScale(scale,min,max)` - get a colour to, for example, use as a background style
        - `contrastColour` - get a contrasting colour (black or white)
    config:
      data:
        - { LAD21CD: "E08000016", "LAD21NM":"Barnsley", colour: "#E6007C","Aged 15 years and under":44782 }
        - { LAD21CD: "E08000032", "LAD21NM":"Bradford", colour: "#FF6700","Aged 15 years and under":124837 }
        - { LAD21CD: "E08000033", "LAD21NM":"Calderdale", colour: "#0DBC37","Aged 15 years and under":39997 }
        - { LAD21CD: "E07000163", "LAD21NM":"Craven", colour: "#178CFF","Aged 15 years and under":8643 }
        - { LAD21CD: "E07000165", "LAD21NM":"Harrogate", colour: "#2f529f","Aged 15 years and under":27362 }
        - { LAD21CD: "E08000034", "LAD21NM":"Kirklees", colour: "#722EA5","Aged 15 years and under":86941 }
        - { LAD21CD: "E08000035", "LAD21NM":"Leeds", colour: "#F9BC26","Aged 15 years and under":153483 }
        - { LAD21CD: "E07000169", "LAD21NM":"Selby", colour: "#1DD3A7","Aged 15 years and under":16556 }
        - { LAD21CD: "E08000036", "LAD21NM":"Wakefield", colour: "#EF3AAB","Aged 15 years and under":65832 }
        - { LAD21CD: "E06000014", "LAD21NM":"York", colour: "#F92626","Aged 15 years and under":30738 }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      columns:
        - name: Tooltip label
          template: "{{ LAD21NM }}<br />Aged 15 and under: {{ Aged 15 years and under | toLocaleString() }}"
      key: LAD21CD
      tooltip: Tooltip label
      value: colour

  - title: Place labels
    description: |
      We can add `places` to a layer above the interactive map. A place can be defined with the following properties:
        * `name` - the label to use for the place label
        * `latitude` - set the latitude of the label (can be omitted if it is a UK place we know about)
        * `longitude` - set the longitude of the label (can be omitted if it is a UK place we know about)
        * `text-anchor` - set to either `start`, `middle`, or `end` to anchor the text
        * `colour` - the colour of the label (default is black)
        * `border` - the colour of the label border (default is white)
        * `font-size` - manually set the font size (if omitted it will be scaled to the population where known)
        * `font-weight` - manually set the font weight (e.g. to "bold")
        * `font-family` - manually set the font family

      Be aware that place labels sit above the interactive layer so may block some interactivity.
    config:
      data:
        - { code: "E08000016", name: "Barnsley" }
        - { code: "E08000032", name: "Bradford" }
        - { code: "E08000033", name: "Calderdale" }
        - { code: "E07000163", name: "Craven" }
        - { code: "E07000165", name: "Harrogate" }
        - { code: "E08000034", name: "Kirklees" }
        - { code: "E08000035", name: "Leeds" }
        - { code: "E07000169", name: "Selby" }
        - { code: "E08000036", name: "Wakefield" }
        - { code: "E06000014", name: "York" }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      key: code
      tooltip: name
      places:
          - name: Bradford
            text-anchor: end
            font-size: 24
          - name: Leeds
            font-size: 32
            font-weight: bold
            font-family: "Times, serif"
            colour: "#722EA5"
            border: "#1DD3A7"
          - name: Halifax
          - name: Harrogate
          - name: Huddersfield
          - name: Settle
            latitude: 54.0693
            longitude: -2.2790
          - name: Skipton
            latitude: 53.9619
            longitude: -2.0174
          - name: Wakefield
            text-anchor: start
            latitude: 53.68331
            longitude: -1.49768
          - name: York

  - title: Map markers
    description: |
      We can add `markers` to a layer above the interactive map. A marker can be defined with the following properties:
        * `icon` - can be either:
          * `string` - one of `default`, `geo`, `geo-alt`, `asterisk`, `pin`, `balloon`, `balloon-heart`, `chat-square`
          * `object` - define an icon using the following properties
            * `svg` - the SVG string to use
            * `size` - e.g. `[40,40]`
            * `anchor` - e.g. `[20,0]` 
        * `latitude` - set the latitude of the marker
        * `longitude` - set the longitude of the marker
        * `colour` - the colour of the label (default is black)
        * `tooltip` - the content of an optional tooltip

      Be aware that markers sit above the interactive layer so may block some interactivity.
    config:
      data:
        - { code: "E08000016", name: "Barnsley" }
        - { code: "E08000032", name: "Bradford" }
        - { code: "E08000033", name: "Calderdale" }
        - { code: "E07000163", name: "Craven" }
        - { code: "E07000165", name: "Harrogate" }
        - { code: "E08000034", name: "Kirklees" }
        - { code: "E08000035", name: "Leeds" }
        - { code: "E07000169", name: "Selby" }
        - { code: "E08000036", name: "Wakefield" }
        - { code: "E06000014", name: "York" }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      key: code
      tooltip: name
      markers:
        - icon:
            svg: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16"><path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/><path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/></svg>'
            size: [30,30]
            anchor: [15,15]
          tooltip: "Barnsley marker"
          latitude: 53.5529
          longitude: -1.4825
          colour: "#EF3AAB"
        - icon: geo
          tooltip: "Bradford marker"
          latitude: 53.7944
          longitude: -1.7519
          colour: "#2254F4"
        - icon: balloon
          tooltip: "Huddersfield marker"
          latitude: 53.6463
          longitude: -1.7853
          colour: "#0DBC37"
        - icon: chat-square
          tooltip: "Halifax marker"
          latitude: 53.7211
          longitude: -1.8622
          colour: "#722EA5"
        - icon: geo-alt
          tooltip: "Leeds marker"
          latitude: 53.7968
          longitude: -1.5439
          colour: "#F9BC26"
        - icon: pin
          tooltip: "Wakefield marker"
          latitude: 53.68331
          longitude: -1.49768
          colour: "#D60303"
        - icon: asterisk
          tooltip: "York marker"
          latitude: 53.9601
          longitude: -1.0808
        - latitude: 53.9617
          longitude: -2.0201

  - title: Add a background
    description: |
      A non-interactive `background` can be added as a layer behind the interactive map. It should contain GeoJSON `data`. It can have its `colour` set. We can also adjust the map `bounds` if we'd like the view to cover an area smaller/larger than the bounds of the data. Note that the exact bounding of map will also depend on the aspect ratio that the map ends up on the end-user's display.
    config:
      data:
        - { code: "E08000016", "LAD21NM":"Barnsley", colour: "#E6007C","Aged 15 years and under":44782 }
        - { code: "E08000032", "LAD21NM":"Bradford", colour: "#FF6700","Aged 15 years and under":124837 }
        - { code: "E08000033", "LAD21NM":"Calderdale", colour: "#0DBC37","Aged 15 years and under":39997 }
        - { code: "E07000163", "LAD21NM":"Craven", colour: "#178CFF","Aged 15 years and under":8643 }
        - { code: "E07000165", "LAD21NM":"Harrogate", colour: "#2f529f","Aged 15 years and under":27362 }
        - { code: "E08000034", "LAD21NM":"Kirklees", colour: "#722EA5","Aged 15 years and under":86941 }
        - { code: "E08000035", "LAD21NM":"Leeds", colour: "#F9BC26","Aged 15 years and under":153483 }
        - { code: "E07000169", "LAD21NM":"Selby", colour: "#1DD3A7","Aged 15 years and under":16556 }
        - { code: "E08000036", "LAD21NM":"Wakefield", colour: "#EF3AAB","Aged 15 years and under":65832 }
        - { code: "E06000014", "LAD21NM":"York", colour: "#F92626","Aged 15 years and under":30738 }
      geojson:
        key: LAD21CD
        data: geojson.leeds_city_region
      key: code
      tooltip: LAD21NM
      value: "Aged 15 years and under"
      scale: Viridis
      background:
        data: geojson.england
        colour: silver
      bounds:
        lat:
          min: 53.3
          max: 54.45
        lon:
          min: -3
          max: -0.3

  - title: "Projection: Aitoff"
    description: |
      The default projection is "web-mercator" but we could change that to [Aitoff](https://en.wikipedia.org/wiki/Aitoff_projection) by setting the `projection➝name` value to `aitoff`.
    config:
      geojson:
        key: SOV_A3
        data: geojson.world
      projection:
        name: aitoff
      key: code

  - title: "Projection: Equirectangular"
    description: |
      The default projection is "web-mercator" but we could change that to [equirectangular](https://en.wikipedia.org/wiki/Equirectangular_projection) by setting the `projection➝name` value to `equirectangular`. As the map would automatically adjust the size to the GeoJSON data (which doesn't have land above ~85&deg;), we'll explicitly set the bounds to the full range of latitude/longitude.
    config:
      geojson:
        key: SOV_A3
        data: geojson.world
      projection:
        name: equirectangular
      key: code
      bounds:
        lat:
          min: -90
          max: 90
        lon:
          min: -180
          max: 180

  - title: "Projection: Gall-Peters"
    description: |
      The default projection is "web-mercator" but we could change that to [Gall-Peters](https://en.wikipedia.org/wiki/Gall%E2%80%93Peters_projection) by setting the `projection➝name` value to `gall-peters`.
    config:
      geojson:
        key: SOV_A3
        data: geojson.world
      projection:
        name: gall-peters
      key: code

  - title: "Projection: Orthographic"
    description: |
      The default projection is "web-mercator" but we could change that to [Orthographic](https://en.wikipedia.org/wiki/Orthographic_map_projection) by setting the `projection➝name` value to `orthographic`. Orthographic projection behaves as if we are viewing the Earth from a distance.
    config:
      geojson:
        key: SOV_A3
        data: geojson.world
      projection:
        name: orthographic
      key: code

  - title: "Projection: Orthographic zoomed"
    description: |
      Let's create an [Orthographic](https://en.wikipedia.org/wiki/Orthographic_map_projection) view centred on Europe and highlight a few countries. We set the `projection➝name` value to `orthographic`, set the `projection➝lat` and `projection➝lon` of the centre of the view, then use `bounds` to set an approximate latitude/longitude bounding box. To create the `tooltip` we create a virtual column that uses both the `data` structure (e.g. `{{ code }}`) and the `properties` of the `geojson` file (e.g. `{{ geojson.properties.POP_EST }}`).
    config:
      data:
        - code: AUT
        - code: BEL
        - code: CHE
        - code: DEU
        - code: ESP
        - code: FRA
        - code: GBR
        - code: IRL
        - code: ITA
        - code: LUX
        - code: NLD
        - code: PRT
      columns:
        - name: Tooltip
          template: "{{ geojson.properties.NAME_LONG }} / {{ code }}\nPopulation ({{ geojson.properties.POP_YEAR }}): {{ geojson.properties.POP_EST | toLocaleString() }}"
      key: code
      tooltip: Tooltip
      geojson:
        key: ISO_A3_EH
        data: geojson.world
      scale: Viridis
      value: "geojson.properties.POP_EST"
      min: 0
      projection:
        name: orthographic
        lat: 48
        lon: 10
      bounds:
        lat:
          min: 33
          max: 60
        lon:
          min: -12
          max: 25

  - title: "Projection: Web-Mercator"
    description: |
      The default projection is "web-mercator". In this example we'll display countries of the world and explicitly set the `bounds` to make sure we get the full planet (otherwise the North Pole area will be cropped).
    config:
      geojson:
        key: SOV_A3
        data: geojson.world
      key: code
      bounds:
        lat:
          min: -90
          max: 90
        lon:
          min: -180
          max: 180

  - title: "Projection: Web-Mercator zoomed"
    description: |
      Let's show a map of <a href="https://geoportal.statistics.gov.uk/datasets/ons::local-authority-districts-may-2023-uk-buc-2/explore">UK local authorities 2023</a> (ONS) using the default `projection`. We could optionally set the centre of the projection using `projection➝lat` and `projection➝lon` but not doing so will make sure the view resembles that used in Open Street Map/Google Maps etc. We can zoom in to a portion of the map by setting `bounds`. 
    config:
      data:
        - code: E06000001
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E06000002
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E06000003
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E06000004
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E06000010
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E06000011
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E06000005
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E06000006
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E06000039
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E06000007
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E06000008
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E06000009
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E06000012
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E06000014
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E06000015
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E06000013
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E06000016
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E06000017
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E06000018
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E06000019
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E06000020
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E06000021
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E06000032
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E06000022
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E06000033
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E06000023
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000068
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E06000024
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000237
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E06000025
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E09000005
          region: "London / E12000007"
          colour: "#D73058"
        - code: E06000026
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E06000034
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E06000035
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E06000027
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E06000036
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E09000021
          region: "London / E12000007"
          colour: "#D73058"
        - code: E06000030
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E06000031
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E06000037
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E06000038
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E06000040
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E06000041
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E09000022
          region: "London / E12000007"
          colour: "#D73058"
        - code: E06000042
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E06000043
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E09000006
          region: "London / E12000007"
          colour: "#D73058"
        - code: E06000044
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E06000045
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E06000046
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E06000047
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E06000049
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E06000050
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E06000051
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E06000052
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E06000053
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E06000054
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E09000007
          region: "London / E12000007"
          colour: "#D73058"
        - code: E06000055
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E06000056
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E06000057
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E06000058
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E06000059
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E06000060
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E06000063
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E06000064
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E06000065
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E06000066
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E09000008
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000008
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000009
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000066
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000010
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000033
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000011
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E09000009
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000012
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000034
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000035
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000032
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000036
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000037
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000041
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000042
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000043
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000044
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000038
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000061
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000039
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000062
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000040
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000045
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000046
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000047
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000063
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E09000010
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000064
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000065
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E09000011
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000067
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E09000012
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000069
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000070
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000071
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000072
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000073
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000074
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000087
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000075
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000076
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000077
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000078
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000079
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E09000013
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000080
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000081
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000082
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E07000088
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000083
          region: "South West / E12000009"
          colour: "#178CFF"
        - code: E09000014
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000084
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000089
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000085
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000086
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000090
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000091
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000092
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000103
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000093
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E09000015
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000094
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000095
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000096
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000098
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000117
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000099
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000102
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000105
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000122
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000106
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000107
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000108
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000109
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000110
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000123
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000111
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000241
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000112
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000113
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000114
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000115
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E08000005
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000116
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000118
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000126
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000119
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000120
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000121
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000006
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000124
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000125
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000127
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E09000023
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000128
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000129
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000130
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000131
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000132
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000134
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000133
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000135
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E09000024
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000136
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000137
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000138
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E08000013
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000139
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E06000061
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000140
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000170
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000141
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000173
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000142
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000143
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000144
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000145
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000146
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000147
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000148
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000149
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E06000062
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000174
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000178
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000192
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000171
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000172
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000175
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000202
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000176
          region: "East Midlands / E12000004"
          colour: "#00B6FF"
        - code: E07000207
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000208
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000177
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000179
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000180
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000212
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000181
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000213
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000193
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000194
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000214
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E09000025
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000195
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000215
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000196
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E09000016
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000197
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E09000026
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000198
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000199
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000200
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000203
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E09000032
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000209
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E08000003
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000210
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000211
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E09000033
          region: "London / E12000007"
          colour: "#D73058"
        - code: E07000216
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000217
          region: "South East / E12000008"
          colour: "#67E767"
        - code: N09000011
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: E07000218
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000219
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E08000004
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E07000220
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000221
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000234
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000222
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000223
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000235
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000224
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000225
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000226
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000227
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000228
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000229
          region: "South East / E12000008"
          colour: "#67E767"
        - code: E07000236
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000238
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000239
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E07000240
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000242
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000243
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000244
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E07000245
          region: "East of England / E12000006"
          colour: "#FF6700"
        - code: E08000022
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E08000001
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000002
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000023
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E08000007
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000008
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000009
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000010
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000011
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000012
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000014
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000015
          region: "North West / E12000002"
          colour: "#1DD3A7"
        - code: E08000016
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E08000024
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E08000017
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E08000018
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E08000019
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E08000021
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E08000025
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E08000026
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E09000017
          region: "London / E12000007"
          colour: "#D73058"
        - code: E08000027
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E08000028
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E09000018
          region: "London / E12000007"
          colour: "#D73058"
        - code: E09000019
          region: "London / E12000007"
          colour: "#D73058"
        - code: E08000029
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E08000030
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E08000031
          region: "West Midlands / E12000005"
          colour: "#E6007C"
        - code: E08000032
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E08000033
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E08000034
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E08000036
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E08000035
          region: "Yorkshire and the Humber / E12000003"
          colour: "#F9BC26"
        - code: E09000004
          region: "London / E12000007"
          colour: "#D73058"
        - code: E08000037
          region: "North East / E12000001"
          colour: "#D60303"
        - code: E09000001
          region: "London / E12000007"
          colour: "#D73058"
        - code: E09000002
          region: "London / E12000007"
          colour: "#D73058"
        - code: E09000003
          region: "London / E12000007"
          colour: "#D73058"
        - code: E09000020
          region: "London / E12000007"
          colour: "#D73058"
        - code: E09000027
          region: "London / E12000007"
          colour: "#D73058"
        - code: E09000028
          region: "London / E12000007"
          colour: "#D73058"
        - code: E09000029
          region: "London / E12000007"
          colour: "#D73058"
        - code: E09000030
          region: "London / E12000007"
          colour: "#D73058"
        - code: E09000031
          region: "London / E12000007"
          colour: "#D73058"
        - code: N09000001
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: N09000002
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: N09000003
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: N09000004
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: N09000005
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: N09000006
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: N09000007
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: N09000008
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: N09000009
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: N09000010
          region: "Northern Ireland / N92000002"
          colour: "#722EA5"
        - code: S12000005
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000006
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000008
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000010
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000011
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000013
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000014
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000017
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000018
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000019
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000020
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000021
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000023
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000026
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000027
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000028
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000029
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000030
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000033
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000034
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000035
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000036
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000039
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000038
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000045
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000047
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000040
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000041
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000042
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000048
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: S12000049
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: W06000013
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: S12000050
          region: "Scotland / S92000003"
          colour: "#2254F4"
        - code: W06000001
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000002
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000003
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000004
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000005
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000006
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000008
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000009
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000010
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000011
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000012
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000014
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000015
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000016
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000020
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000018
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000019
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000024
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000021
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000022
          region: "Wales / W92000004"
          colour: "#0DBC37"
        - code: W06000023
          region: "Wales / W92000004"
          colour: "#0DBC37"
      columns:
        - name: Tooltip
          template: "{{ geojson.properties.LAD23NM }} / {{ geojson.properties.LAD23CD }}\n{{ region }}"
      key: code
      tooltip: Tooltip
      geojson:
        key: LAD23CD
        data: geojson.Local_Authority_Districts_(May_2023)_UK_BUC
      scale: Viridis
      value: "geojson.properties.POP_EST"
      min: 0
      bounds:
        lat:
          min: 49.8
          max: 60.8
        lon:
          min: -8.4
          max: 2
      background:
        data: geojson.IRL
        colour: "#dfdfdf"
---


{#
Other options include...
options:
  scale: "hsl(87, 57%, 86%) 0%, hsl(191, 57%, 15%) 100%"
  min: 0
  max: 5000000
  legend:
    position: top right
    items:
      - value: 5000000
        label: 5 million
      - value: 4000000
        label: 4 million
      - value: 3000000
        label: 3 million
      - value: 2000000
        label: 2 million
      - value: 1000000
        label: 1 million
      - value: 0
        label: '0'
#}