.comment { color: #444; }
.oi-keyword { color: #D60303; }
.oi-string { color: #0DBC37; }
.oi-title { color: #722EA5; }
.oi-attr { color: #2f529f; }
.oi-built_in, .oi-literal { color: #D60303; }
.oi-number { color: #2254F4; }
