---
title: Samples
---

<h1>{{ title }}</h1>

<p>Below you will find samples of the visualisation types we've made so far:</p>

<ul>
{% for sample in search.pages('sample') | data %}
  <li><a href="{{ sample.url }}">{{ sample.title }}</a></li>
{% endfor %}
</ul>