---
title: Samples
---


<h1>{{ title }}</h1>

<p>It is important to <a href="https://royal-statistical-society.github.io/datavisguide/docs/choosing.html">choose the correct visualisation type</a> depending on what you want people to be able to find out and who the audience is. To help, we have created several visualisation types that we render as HTML/SVG with Javascript only added for some interactivity. Our current visualisation types:</p>

<ul>
{% for sample in search.pages('sample order>0', 'order') | data %}
  <li><a href="{{ sample.url }}">{{ sample.title }}</a></li>
{% endfor %}
</ul>

<div class="grid">
  {% for page in search.pages('sample order>0', 'order') | data %}
	<div class="pane doublepadded">
		<h2>{{ page.title }}</h2>
		<!--<p>Component: <code>{{ page.component }}</code></p>-->
		{% if page.description %}<p>{{ page.description }}</p>{% endif %}
		{% if page.examples %}
			{% comp 'oi.' + page.component, { config: page.examples[page.showcase or 0].config } %}{% endcomp %}
		{% endif %}
		<p style="margin-top:1em;"><a href="{{ page.url }}">{{ page.title }} examples...</a></p>
	</div>
  {% endfor %}
</div>
