.oi-viz { position: relative; }
.oi-viz .skip-link {
	z-index: 2000;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: 0;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
	display: inline-block;
	top: 0;
	left: 0;
}
.oi-viz .skip-link:focus, .oi-viz .skip-link:active {
	width: auto !important;
	height: auto !important;
	left: 0;
	margin: inherit;
	overflow: visible !important;
	clip: auto !important;
	-webkit-clip-path: none !important;
	clip-path: none !important;
	white-space: inherit !important;
}
.oi-viz .skip-link-bottom { bottom: 0; top: unset; }
.oi-top { top: 0; }
.oi-right { right: 0; }
.oi-bottom { bottom: 0; }
.oi-left { left: 0; }
.oi-top,.oi-bottom { text-align: center; position: relative; z-index:1000; }
.oi-left, .oi-right { margin-top: 0; margin-bottom: 0; position: absolute; text-align: left; }
.oi-left > * + *, .oi-right > * + * { margin-top: 0.5em; }
.oi-top .oi-left, .oi-top .oi-right { top: 100%; }
.oi-bottom .oi-left, .oi-bottom .oi-right { transform: translate3d(0,-100%,0); top: 0; }
.oi-top > *, .oi-bottom > * { display: inline-block; }
/* OI table component */
.oi-table { display: block; overflow-x: auto; }
.oi-table table { border-collapse: collapse; max-width: 100%; }