.oi-viz { position: relative; }
.oi-viz .skip-link {
	z-index: 2000;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: 0;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
	display: inline-block;
	top: 0;
	left: 0;
}
.oi-viz .skip-link:focus, .oi-viz .skip-link:active {
	width: auto !important;
	height: auto !important;
	left: 0;
	margin: inherit;
	overflow: visible !important;
	clip: auto !important;
	-webkit-clip-path: none !important;
	clip-path: none !important;
	white-space: inherit !important;
}
.oi-viz .skip-link-bottom { bottom: 0; top: unset; }