.oi-viz .skip-link {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: 0 !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
	display: inline-block;
}
.oi-viz .skip-link:focus, .oi-viz .skip-link:active {
	width: auto !important;
	height: auto !important;
	left: 0;
	margin: inherit !important;
	overflow: visible !important;
	clip: auto !important;
	-webkit-clip-path: none !important;
	clip-path: none !important;
	white-space: inherit !important;
}