---
title: Treemap
description: |
  Display hierarchical data using nested rectangles.
order: 6
component: hierarchy.treemap
showcase: 5
---

Our treemap component renders <a href="https://en.wikipedia.org/wiki/Treemapping">hierarchical treemaps</a>.
