---
title: Bar Chart
component: chart.bar
---
{#
  Test data is set in <git project root>/test/data/bar-chart.yaml 
  The page is rendered according to the <project>/example-site/_includes/layout/sample-viz.njk layout.
  This is set in <project>/example-site/samples/_data.yaml 
#}