---
title: Dashboard
description: "Panels with big numbers."
order: 1
showcase: 2
component: dashboard
layout: layout/sample-viz.njk
examples:
  - title: "Simple panels"
    description: |
      This basic example shows four panels. Each has a `title` (set to the `Title` column), a `value` (set to the `Value` column), and is given the default background colour. We only show panels for specified items in the data, not every row. The order of <code>panels</code> is the order they will appear on the page and doesn't have to match the order in the <code>data</code>.
    config:
      title: Title
      value: Value
      data:
        - Title: "Thing 1"
          Value: 15
        - Title: "Thing 2"
          Value: 132
        - Title: "Thing 3"
          Value: 19
        - Title: "Thing 4"
          Value: 90
        - Title: "Thing 5"
          Value: 56.4
      panels:
        - name: "Thing 1"
        - name: "Thing 3"
        - name: "Thing 2"
        - name: "Thing 4"
  - title: "Add units and notes"
    description: |
      In this example we will add a `note` (set to the column `Footnote`) below the value in panels. We can also augment the displayed values with `units` by adding `prefix` or `postfix`. For the "Thing 3" panel we set the `precision` to "0.1" to force the number to be displayed with one decimal place.
    config:
      title: Title
      value: Value
      note: Footnote
      data:
        - Title: "Thing 1"
          Value: 15
          Footnote: "A note"
          Post: "%"
        - Title: "Thing 2"
          Value: 132
        - Title: "Thing 3"
          Value: 19.234
          Footnote: "2019"
        - Title: "Thing 4"
          Value: 90
          Footnote: "Jan 2021"
          Pre: "£"
          Post: "k"
        - Title: "Thing 5"
          Value: 56.4
          Footnote: Test
          Post: "%"
      units:
        prefix: Pre
        postfix: Post
      panels:
        - name: "Thing 1"
        - name: "Thing 3"
          precision: 0.1
        - name: "Thing 2"
        - name: "Thing 4"
  - title: "Set the colours of panels"
    description: |
      This example shows four differently coloured panels. Some panels have prefixes or postfixes around the values. We only show panels for specified items in the data. The order of <code>panels</code> is the order they will appear on the page and doesn't have to match the order in the <code>data</code>.
    config:
      title: Title
      value: Value
      note: Footnote
      data:
        - Title: "Thing 1"
          Value: 15
          Footnote: "A note"
          Post: "%"
        - Title: "Thing 2"
          Value: 132
        - Title: "Thing 3"
          Value: 19
          Footnote: "2019"
        - Title: "Thing 4"
          Value: 90
          Footnote: "Jan 2021"
          Pre: "£"
          Post: "k"
        - Title: "Thing 5"
          Value: 56.4
          Footnote: Test
          Post: "%"
      units:
        prefix: Pre
        postfix: Post
      panels:
        - name: "Thing 1"
          colour: "#722EA5"
        - name: "Thing 3"
          colour: "#0DBC37"
        - name: "Thing 2"
          colour: "#F9BC26"
        - name: "Thing 4"
          colour: "#08DEF9"
  - title: "Set the colours of panels using a colour scale"
    description: |
      An example of 
    config:
      title: name
      value: numeric
      units:
        prefix: pre
        postfix: post
      note: footnote
      data:
        - name: Panel 1
          numeric: 10
          post: "&thinsp;dB"
        - name: Panel 2
          numeric: 20
          post: "&thinsp;dB"
          footnote: "This is very quiet"
      panels:
        - name: Panel 1
          class: plum
          scale: Viridis
          min: 0
          max: 25
        - name: Panel 2
          class: cyan
          scale: Viridis
          min: 0
          max: 25
  - title: "Setting the width of panels"
    description: |
      Set the minimum width of a panel to `400px`. The panel will either be the specified width or will get larger to fit a whole number of columns.
    config:
      title: name
      value: numeric
      units:
        prefix: pre
        postfix: post
      note: footnote
      width: 400px
      data:
        - name: Panel 1
          numeric: 10
          post: "&thinsp;dB"
        - name: Panel 2
          numeric: 20
          post: "&thinsp;dB"
        - name: Panel 3
          numeric: 50
          post: "&thinsp;dB"
        - name: Panel 4
          numeric: 100
          post: "&thinsp;dB"
        - name: Panel 5
          numeric: 110
          post: "&thinsp;dB"
        - name: Panel 6
          numeric: 120
          post: "&thinsp;dB"
      panels:
        - name: Panel 1
          scale: Viridis
          min: 10
          max: 120
        - name: Panel 2
          scale: Viridis
          min: 10
          max: 120
        - name: Panel 3
          scale: Viridis
          min: 10
          max: 120
        - name: Panel 4
          scale: Viridis
          min: 10
          max: 120
        - name: Panel 5
          scale: Viridis
          min: 10
          max: 120
        - name: Panel 6
          scale: Viridis
          min: 10
          max: 120
options: |
  <ul>
  <li><code>data</code> - Either a reference to a CSV file in the Lume site or an array of rows with named attributes.</li>
  <li><code>columns</code> - As with many of the visualisation types you can optionally add <a href="/documentation/virtual-columns/">virtual columns</a>.</li>
  <li><code>colours</code> - Define some <a href="/documentation/colours#specific-named-colours">visualisation-specific named colours</a>.</li>
  <li><code>width</code> - An optional minimum width (e.g. <code>400px</code>) for each panel. Panels may then be arranged by however many columns will fit in the page width.</li>
  <li><code>title</code> - The title of the column that will be used to get a title of the panel.</li>
  <li><code>value</code> - The title of the column that will be used to get the value of the panel.</li>
  <li><code><a href="../../samples/dashboard/#example-2" aria-title="Set the footnote of dashboard panels">note</a></code> - The title of the column that will be used to get a footnote for the panel.</li>
  <li>
  	<code>units</code> - A structure to define <code>prefix</code> and <code>prefix</code> columns.
  	<ul>
  	<li><code>prefix</code> - The column to use for any text that would go _before_ the <code>value</code> e.g. to add a currency sign before the <code>value</code>.</li>
  	<li><code>postfix</code> - The column to use for any text that would go _after_ the <code>value</code> e.g. to add, say, "kWh" to a <code>value</code>.</li>
  	</ul>
  </li>
  <li>
  	<code>panels</code> - An array of which panels will be displayed. They are in orderand each is of the form:
  	<ul>
  	<li><code>name</code> - (required) References a specific <code>title</code> value.</li>
  	<li><code>precision</code> - The level of precision to use for the number e.g. <code>0.1</code> would round the value to the nearest 0.1.</li>
  	<li><code><a href="../../samples/dashboard/#example-3" aria-title="Set the colour of a dashboard panel">colour</a></code> - The hex colour to use for the panel.</li>
  	<li><code>class</code> - A CSS class to add to the panel (may be useful for consistent styling).</li>
  	<li><code><a href="../../samples/dashboard/#example-4" aria-title="Set the colour scale of a dashbaord panel">scale</a></code> - A <a href="../colours/#scales">colour scale</a> to use to set the panel's background colour based on the <code>value</code>.</li>
  	<li><code>min</code> - Used with <code>scale</code> and <code>max</code> to define the colour scale.</li>
  	<li><code>max</code> - Used with <code>scale</code> and <code>min</code> to define the colour scale.</li>
  	</ul>
  </li>
  <li><code>attribution</code> - Add a line of <a href="/documentation/chart-furniture/#attribution">attribution text</a> under the visualisation.</li>
  </ul>

---

