<link rel="stylesheet" href="/styles/reset.css"/>
<link rel="stylesheet" href="/components.css"/>
<link rel="stylesheet" href="/styles/style.css"/>
<style>
.oi-map .leaflet { max-height: 100vh; }

</style>
{{ content | safe }}