---
layout: layout/base.njk
---

<h1>{{ title }}</h1>

{{ content | safe }}

{% for config in configs %}
  {% comp 'oi.' + component, { "config": config } %}{% endcomp %}

  <p>This example was made with config:</p>

  {{ config | syntaxHighlight("json",2) | safe }}
{% endfor %}

