---
layout: layout/base.njk
---

<h1>{{ title }}</h1>
{% if description %}<p>{{ description }}</p>{% endif %}

{% if examples | length > 1 %}
<ol>
{% for example in examples %}
	<li><a href="#example-{{ loop.index }}">{% if example.title %}{{ example.title }}{% else %}Example {{ loop.index }}{% endif %}</a></li>
{% endfor %}
</ol>
{% endif %}

{{ content | safe }}


{% for example in examples %}
	<section class="tallpadded">
		{% set id %}example-{{ loop.index }}{% endset %}
		<h2>{{ loop.index }}. {% if example.title %}{{ example.title }}{% else %}Example {% if examples | length > 1 %}{{ loop.index }}{% endif %}{% endif %}{{ comp.anchor({ ref: id }) | await | safe }}</h2>
		{% if example.description %}
		{{ example.description | md | safe }}
		{% endif %}
		{% if example.config and example.component %}
		{% comp 'oi.' + example.component, { "config": example.config } %}{% endcomp %}
		{% endif %}
	</section>
{% endfor %}
