---
title: Ranking chart
description: |
  A chart which shows how the rank of something varies.
order: 12
showcase: 4
component: chart.ranking
examples:
  - title: "Simple ranking chart"
    description: |
      Series are created by referencing a column in the data using `key` e.g. the `Country` column. They will be ranked by the first item in `columns`.
    config:
      data: test.data.heatmap
      key: Country
      columns:
        - name: 2018
          template: '{{ Ranks→2018 }}'
        - name: 2019
          template: '{{ Ranks→2019 }}'
        - name: 2020
          template: '{{ Ranks→2020 }}'
  - title: "Customise the lines"
    description: |
      The `curvature` of the lines can be in the range 0-1 (default of `1`). The `stroke-width` can be in the range 0-1 (default of `0.5`). You can add ranks on the lines by setting `circle` in the range 0-1 (default of `0`).
    config:
      data: test.data.heatmap
      key: Country
      circles: 0.9
      columns:
        - name: 2018
          template: '{{ Ranks→2018 }}'
        - name: 2019
          template: '{{ Ranks→2019 }}'
        - name: 2020
          template: '{{ Ranks→2020 }}'
      curvature: 0
      stroke-width: 0.2
  - title: "Coloured lines"
    description: |
      The colour of each series can be scaled by the column referenced by `colour`. This column contains a colour as a text string. In this example we will also add `circles` showing the ranks.

      Key: <span style="padding:0.125em 0.25em;background:#f4ac36;color:black;">Asia</span> <span style="padding:0.125em 0.25em;background:#e53012;color:white;">Australia</span> <span style="padding:0.125em 0.25em;background:#0083c6;color:white;">Europe</span> <span style="padding:0.125em 0.25em;background:#009640;color:white;">N. America</span> <span style="padding:0.125em 0.25em;background:#b70d7f;color:white;">S. America</span>
    config:
      data: test.data.heatmap
      key: Country
      colour: Colour
      columns:
        - name: 2018
          template: '{{ Ranks→2018 }}'
        - name: 2019
          template: '{{ Ranks→2019 }}'
        - name: 2020
          template: '{{ Ranks→2020 }}'
  - title: "Lines coloured using a scale"
    description: |
      We can use a colour `scale` along with a `colour` column in the data (with optional `min` and `max` values) to set the colour using numeric values. In this case we will use the initial rank (found in the `Ranks→2018` column) to set the colours.
    config:
      data: test.data.heatmap
      key: Country
      colour: Ranks→2018
      scale: Viridis
      columns:
        - name: 2018
          template: '{{ Ranks→2018 }}'
        - name: 2019
          template: '{{ Ranks→2019 }}'
        - name: 2020
          template: '{{ Ranks→2020 }}'
  - title: "A more complex example"
    description: |
      This uses a dataset of [private sector long term empty properties by ward in Leeds](https://datamillnorth.org/dataset/private-sector-long-term-empty-properties-by-ward) taken from Data Mill North. For the start of each year we calculated the rank for each ward based on the percentage of empty properties in that ward.
      
      We `order` the series by the `Rank 2009` column (rank 1 at the top) and `colour` the lines by the `Rank 2019` column in the data.
    config:
      data: test.data.dmn-lcc-private-sector-long-term-empties
      key: Ward
      colour: Rank 2019
      scale: Viridis_r
      stroke-width: 0.75
      columns:
        - name: "'09"
          template: "{{ Rank 2009 }}"
        - name: "'10"
          template: "{{ Rank 2010 }}"
        - name: "'11"
          template: "{{ Rank 2011 }}"
        - name: "'12"
          template: "{{ Rank 2012 }}"
        - name: "'13"
          template: "{{ Rank 2013 }}"
        - name: "'14"
          template: "{{ Rank 2014 }}"
        - name: "'15"
          template: "{{ Rank 2015 }}"
        - name: "'16"
          template: "{{ Rank 2016 }}"
        - name: "'17"
          template: "{{ Rank 2017 }}"
        - name: "'18"
          template: "{{ Rank 2018 }}"
        - name: "'19"
          template: "{{ Rank 2019 }}"

---
