---
title: Ranking chart
description: |
  A chart which shows how the rank of something varies.
order: 12
showcase: 3
component: chart.ranking
examples:
  - title: "Simple ranking chart"
    description: |
      Series are created by referencing a column in the data using `key` e.g. the `Country` column. They will be ranked by the first item in `columns`.
    config:
      data: test.data.heatmap
      key: Country
      columns:
        - name: 2018
          template: '{{ Ranks→2018 }}'
        - name: 2019
          template: '{{ Ranks→2019 }}'
        - name: 2020
          template: '{{ Ranks→2020 }}'
  - title: "Customise the lines"
    description: |
      The `curvature` of the lines can be in the range 0-1 (default of `1`). The `stroke-width` can be in the range 0-1 (default of `0.5`). You can add ranks on the lines by setting `circle` in the range 0-1 (default of `0`).
    config:
      data: test.data.heatmap
      key: Country
      circles: 0.9
      columns:
        - name: 2018
          template: '{{ Ranks→2018 }}'
        - name: 2019
          template: '{{ Ranks→2019 }}'
        - name: 2020
          template: '{{ Ranks→2020 }}'
      curvature: 0
      stroke-width: 0.2
      font-size: 24
  - title: "Coloured lines"
    description: |
      The colour of each series can be scaled by the column referenced by `colour`. This column contains a colour as a text string. In this example we will also add `circles` showing the ranks.

      Key: <span style="padding:0.125em 0.25em;background:#f4ac36;color:black;">Asia</span> <span style="padding:0.125em 0.25em;background:#e53012;color:white;">Australia</span> <span style="padding:0.125em 0.25em;background:#0083c6;color:white;">Europe</span> <span style="padding:0.125em 0.25em;background:#009640;color:white;">N. America</span> <span style="padding:0.125em 0.25em;background:#b70d7f;color:white;">S. America</span>
    config:
      colours:
        test: "#999000"
      data: test.data.heatmap
      key: Country
      colour: Colour
      columns:
        - name: 2018
          template: '{{ Ranks→2018 }}'
        - name: 2019
          template: '{{ Ranks→2019 }}'
        - name: 2020
          template: '{{ Ranks→2020 }}'
  - title: "Lines coloured using a scale"
    description: |
      We can use a colour `scale` along with a `colour` column in the data (with optional `min` and `max` values) to set the colour using numeric values. In this case we will use the initial rank (found in the `Ranks→2018` column) to set the colours.
    config:
      data: test.data.heatmap
      key: Country
      colour: Ranks→2018
      scale: Viridis
      columns:
        - name: 2018
          template: '{{ Ranks→2018 }}'
        - name: 2019
          template: '{{ Ranks→2019 }}'
        - name: 2020
          template: '{{ Ranks→2020 }}'
  - title: "Add a legend"
    description: |
      We can use a colour `scale` along with a `colour` column in the data (with optional `min` and `max` values) to set the colour using numeric values. In this case we will use the initial rank (found in the `Ranks→2018` column) to set the colours.
    config:
      data: test.data.heatmap
      key: Country
      colour: Ranks→2018
      scale: Viridis
      columns:
        - name: 2018
          template: '{{ Ranks→2018 }}'
        - name: 2019
          template: '{{ Ranks→2019 }}'
        - name: 2020
          template: '{{ Ranks→2020 }}'
      legend:
        show: true
        position: top
        items:
          - value: 40
            label: 40
          - value: 30
            label: 30
          - value: 20
            label: 20
          - value: 10
            label: 10
          - value: 1
            label: 1
  - title: "A more complex example"
    description: |
      This uses a dataset of [private sector long term empty properties by ward in Leeds](https://datamillnorth.org/dataset/private-sector-long-term-empty-properties-by-ward) taken from Data Mill North. The CSV file contains the percentage of empty properties in each ward by month. We find the rank for each `key` (e.g. `Ward`) in each of the `columns`. As we want larger percentages to give lower ranks, we set `reverse` to `true`. We `colour` the lines by the ranking of the `2019` column in the data by referring to `2019_rank`.
    config:
      data: test.data.dmn-lcc-private-sector-long-term-empties
      key: Ward
      colour: "2019_rank"
      scale: Viridis
      stroke-width: 0.75
      reverse: true
      columns:
        - name: "2009"
          template: "{{ Jan-09 % }}"
        - name: "2010"
          template: "{{ Jan-10 % }}"
        - name: "2011"
          template: "{{ Jan-11 % }}"
        - name: "2012"
          template: "{{ Jan-12 % }}"
        - name: "2013"
          template: "{{ Jan-13 % }}"
        - name: "2014"
          template: "{{ Jan-14 % }}"
        - name: "2015"
          template: "{{ Jan-15 % }}"
        - name: "2016"
          template: "{{ Jan-16 % }}"
        - name: "2017"
          template: "{{ Jan-17 % }}"
        - name: "2018"
          template: "{{ Jan-18 % }}"
        - name: "2019"
          template: "{{ Jan-19 % }}"

---
